#python ==3.9.4
tensorflow==2.11.0
argparse==1.1
numpy==1.23.4
# opencv-python==4.9.0
opencv-python-headless==4.9.0.80
pillow==10.2.0

#import cv2
#from tensorflow import keras
#import numpy as np
#import argparse
